@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";

/* Global font */
* {
  font-family: 'Outfit', sans-serif;
}

/* Tailwind v4 theme variables */
@theme {
  --color-primary: #5865f2;
  --color-secondary: #ff3737;
  --color-custom-green: #4CAF50;

  --color-gray-900: #202225;
  --color-gray-800: #2f3136;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  display: none;
}
