@import "tailwindcss";

@theme {
  --color-primary: #5865f2;
  --color-secondary: #ff3737;
  --color-custom-green: #4CAF50;

  --color-gray-900: #202225;
  --color-gray-800: #2f3136;

}
gridTemplatesColumns:{
  'auto':'repeat(auto-fit,minmax(200px,1fr))'
} 

::-webkit-scrollbar{
  @apply hidden
}
